@import '/src/styles/Variables.scss';

.work-container {
    margin-top: 0px;
}

@media screen and (min-width: $breakpoint-l) {
    .work-container {
        margin-top: 50px;
    }
}

.section-subtitle {
    color: rgb(119, 119, 119);
    margin-top: 5px !important;
}

.work-experience-container {
    margin-top: 20px;
}
